In [2]:
import pandas as pd

# *Data Manipulation:*  Appending, Concatinating, Merging, and Joining Tables

In [3]:
flowers = pd.DataFrame({
    "Name" : ["Iris", "Peony", "Daisy", "Petunia", "Impatiens", "Creeping Myrtle"], 
    "Plant_Type" : ["Perennial", "Perennial","Annual", "Annual", "Annual", "Perennial"],
    "Sun_Shade": ["Full Sun", "Full Sun", "Partial Sun", "Partial Sun", "Partial Shade", "Full Shade" ]
    
})

garden_supply = pd.DataFrame({
    "Flower" : ["Daylily","Iris", "Peony","Petunia", "Petunia", "Impatiens", "Coneflower"],
    "Sold_As" : ["Container", "Bulb Pack", "Root Pack","Container Pack", "Mixed Container", "Container Pack", "Container"],
    "Amt_Package" : [1, 25, 5, 4, 1, 4, 1]
})

shrubs = pd.DataFrame({
    "Name" : ["Boxwood", "Hydrangea", "Dipladenia", "Gardenia"], 
    "Plant_Type" : ["Evergreen", "Flowering", "Flowering", "Flowering"],
    "Sun_Shade": ["Partial Sund", "Partial Sun", "Partial Shade", "Full Sun" ]
})

# Part 1: Append

In [5]:
append_plants = flowers.append(shrubs)

/var/folders/68/l23cjsw133d5gkhpn60nw9640000gn/T/ipykernel_4548/1970895660.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  append_plants = flowers.append(shrubs)

In [6]:
append_plants = flowers.append(shrubs, ignore_index=True)

/var/folders/68/l23cjsw133d5gkhpn60nw9640000gn/T/ipykernel_4548/554633031.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  append_plants = flowers.append(shrubs, ignore_index=True)

# Part 2: Concatenation

In [7]:
# Concatenate flowers and shrubs horizontally:

flowers_shrubs = pd.concat([flowers, shrubs], axis=1)

# Part 3:  Merge

In [1]:
# This code is not working
# flowers.merge(garden_supply)

### Option 1:  Rename a column in the flowers table.

Create a variable to hold your updated table.  
apply the following syntax to update your column names: **table_name.rename(columns={"original_name": "new_name"})**

In [8]:
rename_flowers_col = flowers.rename(columns={"Name": "Flower"})

#### Option 1 Testing:
Merge garden_supply with you updated table in a new variable.
Run your newly merged table and examine it.

In [9]:
merge_rename = rename_flowers_col.merge(garden_supply)
merge_rename.head(5)

      Flower Plant_Type      Sun_Shade          Sold_As  Amt_Package
0       Iris  Perennial       Full Sun        Bulb Pack           25
1      Peony  Perennial       Full Sun        Root Pack            5
2    Petunia     Annual    Partial Sun   Container Pack            4
3    Petunia     Annual    Partial Sun  Mixed Container            1
4  Impatiens     Annual  Partial Shade   Container Pack            4

### Option 2: Using the merge method's parameters "left_on" & "right_on"

Option 2 can be used when if you would rather not rename any columns.
    
Syntax:  **left_table.merge(right_table, left_on="column_name", right_on="column_name")**

In [11]:
merge_only = flowers.merge(garden_supply, left_on="Name", right_on="Flower")
merge_only.head(5)

,Name,Plant_Type,Sun_Shade,Flower,Sold_As,Amt_Package
0,Iris,Perennial,Full Sun,Iris,Bulb Pack,25
1,Peony,Perennial,Full Sun,Peony,Root Pack,5
2,Petunia,Annual,Partial Sun,Petunia,Container Pack,4
3,Petunia,Annual,Partial Sun,Petunia,Mixed Container,1
4,Impatiens,Annual,Partial Shade,Impatiens,Container Pack,4

### Sytnax Exploring:
Using the syntax in Option 2, perform the same merge, but this time *garden_supply* on the left and *flowers* on the right.

In [12]:
merge_only1 = garden_supply.merge(flowers, left_on="Flower", right_on="Name")
merge_only1.head(5)

,Flower,Sold_As,Amt_Package,Name,Plant_Type,Sun_Shade
0,Iris,Bulb Pack,25,Iris,Perennial,Full Sun
1,Peony,Root Pack,5,Peony,Perennial,Full Sun
2,Petunia,Container Pack,4,Petunia,Annual,Partial Sun
3,Petunia,Mixed Container,1,Petunia,Annual,Partial Sun
4,Impatiens,Container Pack,4,Impatiens,Annual,Partial Shade

# Part 4:  Types of Merges

## 4a: Inner Merge

In [14]:
inner = pd.merge(flowers, garden_supply, how="inner", left_on="Name", right_on="Flower", indicator=True)
inner.head(5)

,Name,Plant_Type,Sun_Shade,Flower,Sold_As,Amt_Package,_merge
0,Iris,Perennial,Full Sun,Iris,Bulb Pack,25,both
1,Peony,Perennial,Full Sun,Peony,Root Pack,5,both
2,Petunia,Annual,Partial Sun,Petunia,Container Pack,4,both
3,Petunia,Annual,Partial Sun,Petunia,Mixed Container,1,both
4,Impatiens,Annual,Partial Shade,Impatiens,Container Pack,4,both

contains shared between left and right table, where name = flower

## 4b: Left Merge

In [15]:
left = pd.merge(flowers, garden_supply, how="left", left_on="Name", right_on="Flower", indicator=True)
left.head(5)

,Name,Plant_Type,Sun_Shade,Flower,Sold_As,Amt_Package,_merge
0,Iris,Perennial,Full Sun,Iris,Bulb Pack,25.0,both
1,Peony,Perennial,Full Sun,Peony,Root Pack,5.0,both
2,Daisy,Annual,Partial Sun,NaN,NaN,NaN,left_only
3,Petunia,Annual,Partial Sun,Petunia,Container Pack,4.0,both
4,Petunia,Annual,Partial Sun,Petunia,Mixed Container,1.0,both

## 4c: Right Merge

In [16]:
right = pd.merge(flowers, garden_supply, how="right", left_on="Name", right_on="Flower", indicator=True)
right.head(5)

,Name,Plant_Type,Sun_Shade,Flower,Sold_As,Amt_Package,_merge
0,NaN,NaN,NaN,Daylily,Container,1,right_only
1,Iris,Perennial,Full Sun,Iris,Bulb Pack,25,both
2,Peony,Perennial,Full Sun,Peony,Root Pack,5,both
3,Petunia,Annual,Partial Sun,Petunia,Container Pack,4,both
4,Petunia,Annual,Partial Sun,Petunia,Mixed Container,1,both


All values from right table and any shared values in the left table are contained in the table.
Any values that are only in the left table are represented by "NaN" and are not in this table.

## Outer Merge

In [17]:
outer = pd.merge(flowers, garden_supply, how="outer", left_on="Name", right_on="Flower", indicator=True)
outer.head(5)

,Name,Plant_Type,Sun_Shade,Flower,Sold_As,Amt_Package,_merge
0,Iris,Perennial,Full Sun,Iris,Bulb Pack,25.0,both
1,Peony,Perennial,Full Sun,Peony,Root Pack,5.0,both
2,Daisy,Annual,Partial Sun,NaN,NaN,NaN,left_only
3,Petunia,Annual,Partial Sun,Petunia,Container Pack,4.0,both
4,Petunia,Annual,Partial Sun,Petunia,Mixed Container,1.0,both

## Anti_Merge

An **Anti Merge** is a merge based on what is leftout.  This is not an actual table, but you can create one with a little code and logic.  Read through the code below to see one way to create an anti-table.

In [18]:
left_join = flowers.merge(garden_supply, how="left", left_on="Name", right_on="Flower", indicator=True) 
left_only = left_join.loc[left_join["_merge"] =="left_only", "Name"]
left_only_flowers=flowers[flowers["Name"].isin(left_only)]
left_only_flowers.head(5)

              Name Plant_Type    Sun_Shade
2            Daisy     Annual  Partial Sun
5  Creeping Myrtle  Perennial   Full Shade

1) Started by merging our table together (left_join)
2) Create a variable to hold our "left_only" flowers
3) Created table contianing items in the left_only variable

# Part 5: Join

In [19]:
join = flowers.join(garden_supply)
join.head(5)

        Name Plant_Type      Sun_Shade   Flower          Sold_As  Amt_Package
0       Iris  Perennial       Full Sun  Daylily        Container            1
1      Peony  Perennial       Full Sun     Iris        Bulb Pack           25
2      Daisy     Annual    Partial Sun    Peony        Root Pack            5
3    Petunia     Annual    Partial Sun  Petunia   Container Pack            4
4  Impatiens     Annual  Partial Shade  Petunia  Mixed Container            1

In [20]:
join_inner = garden_supply.join(flowers, how="inner")
join_inner.head(5)

    Flower          Sold_As  Amt_Package       Name Plant_Type      Sun_Shade
0  Daylily        Container            1       Iris  Perennial       Full Sun
1     Iris        Bulb Pack           25      Peony  Perennial       Full Sun
2    Peony        Root Pack            5      Daisy     Annual    Partial Sun
3  Petunia   Container Pack            4    Petunia     Annual    Partial Sun
4  Petunia  Mixed Container            1  Impatiens     Annual  Partial Shade

In [21]:
join_outer = garden_supply.join(flowers, how="outer")
join_outer.head(5)

    Flower          Sold_As  Amt_Package       Name Plant_Type      Sun_Shade
0  Daylily        Container            1       Iris  Perennial       Full Sun
1     Iris        Bulb Pack           25      Peony  Perennial       Full Sun
2    Peony        Root Pack            5      Daisy     Annual    Partial Sun
3  Petunia   Container Pack            4    Petunia     Annual    Partial Sun
4  Petunia  Mixed Container            1  Impatiens     Annual  Partial Shade

Starts with shared elements, then 6 is only found in the garden supply table